<!DOCTYPE html5>
<html>
  <head>
   <!-- <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">-->
     <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

 {% include "menu.html" %}
   
    <!-- MENU -->

<!--<nav role="navigation" class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Brand</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-certificate"></span> DotNetFunda <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Interviews</a></li>
                        <li><a href="#">Forums</a></li>
                        <li class="divider"></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-book"></span> ITFunda <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#">Training</a></li>
                        <li><a href="#">Placement</a></li>
                        <li class="divider"></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Write Us</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-gift"></span> KidsFunda</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-film"></span> FundooVideo</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Contact</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="glyphicon glyphicon-user"></span> Krishna <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-phone"></span> Friends</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-globe"></span> Notifications</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</nav>-->

   <!-- FIN MENU -->

    <div class="container">
      <h1>Welcome to your profile page !</h1>
       <p>Click <a href="/blog">here</a> to see blogposts.</p>
       <p>Click <a href="/search">here</a> to search users.</p>
       <!--<p>You follow <a href="/my_follows">{{session['follow']}}</a> people.</p>
       <p>You are followed by <a href="/my_followers">{{session['followed']}}</a> people.</p>
       <p>You have created <a href="post/user?user_id={{session['id']}}">{{session['posts_number']}}</a> post(s).</p>
       <p>Your posts and your followed <a href="/post/user_and_followed">here</a> .</p>-->
       <p>Click <a href="/logout">here</a> to logout.</p>

      <br>
      <div class="container">
    
  <h1>Edit Profile</h1>
  <hr>
<!--  <div class="row">-->
      <!-- left column -->
     <!-- <div class="col-md-3">
        <div class="text-center">
          <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
          <h6>Upload a different photo...</h6>
          
          <input type="file" class="form-control">
        </div>
      </div>-->
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <!--<div class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          <div id="infos">All Fields need to be filled</div>
          
        </div>-->
        <h3>Personal information</h3>
        
        <form action="/update_profile" method="post" class="form-horizontal" role="form" name="form1">
          <div class="form-group">
            <label class="col-lg-3 control-label">Name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="{{session['name']}}" name="name" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="email" value="{{session['email']}}" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <!-- pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" -->
              <input class="form-control" id="txtNewPassword" value="" type="password" name="password" required minlength="8" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" id="txtConfirmPassword"  type="password" name="field2" onblur="checkForm(this);" required minlength="6">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Gender:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                
                <select id="user_gender" class="form-control" name="gender" >

                  {% if session['gender'] == "Male" %}
                    <option value="Female">Female</option>
                    <option value="Male" selected="selected">Male</option>
                  {% else %}
                     <option value="Female" selected="selected">Female</option>
                    <option value="Male">Male</option>
                  {% endif %}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Region:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{session['region']}}" name="region" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes"> 
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>
  </body>
  <script type="text/javascript" charset="utf-8">

    function checkForm(form1){

    if(document.form1.field1.value==document.form1.field2.value){
        document.getElementById("infos").innerHTML = "Passwords are identical";
    }else{
        document.getElementById("infos").innerHTML = "Passwords are different";
    }
  }
  </script>
</html>