<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!--<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>-->
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body >
{% include "menu.html" %}

<style type="text/css">

body{
}

#top {
 width: 50%; 
 margin-right: auto; margin-left: auto;
}

textarea {
  width: 100%;
  margin-bottom: 5px;
}

h1{
   margin-left: 15%;
}

.label-left{
  float:right;
  margin-top:20px;
}

.label-right{
  margin-top: 20px;
margin-left: 5px;
}

.elem{
  border-radius: 5px; 
  border: 2px solid rgb(189, 219, 250); 
  padding-right: 10px; 
  padding-left: 10px;
  padding-bottom:60px;
  background-color: ghostwhite;
}

.addpost{
  margin-top: 30px;
   border-radius: 5px; 
  border: 2px solid rgb(189, 219, 250); 
  padding:5px;
  background-color: ghostwhite;
}

.topbutton{
  float:right;
  margin:10px;
}


#sub {
  width: 100%;
  position: relative;
}


#editSomething, #deleteSomething {
  float: right;
  margin-top: 10px;
  margin-right:5px;
  margin-left:10px;
}

</style>  


<br><br>

<div id="top" class="addpost" >
  <form  action="/post/post" method="post" id="post_blog">
    <textarea id="content" form="post_blog" name="content" rows="10" value="" placeholder="Write your post in here"></textarea>
    <button type = "submit" style="width: 100%;" class = "btn btn-primary btn-lg glyphicon glyphicon-envelope"></button>
  </form>

</div>
<br>

{% if posts != 0 %}

<h1>My posts:</h1>

<div id="main-container" class="span7 center" style="width: 70%; margin-left: 15%; ">
<div class = "jumbotron" style="border-radius: 5px;">


 {% for post in posts %}

<div id="main-container">
  <div class="wrapper elem" >
    <div id="sub">

        <label class="label-right">{{post[6]}}</label>

      {% if post[0] == session['id'] %}
      <button value="edit" class="btn btn-primary glyphicon glyphicon-pencil topbutton" id="edit_{{post[1]}}" style="display: true;" name="editSomething" onclick="document.getElementById( 'validate_{{post[1]}}' ).setAttribute('style', ''); hide('{{post[1]}}');/* switch_to_form({{post[1]}})*/"></button>
     

        <button value="validate" form="edit_post{{post[1]}}" class="btn btn-primary glyphicon glyphicon-ok topbutton" id="validate_{{post[1]}}" style="display:none" name="validateSomething" type="submit">
        </button>

      <button value="delete" class="btn btn-primary glyphicon glyphicon-trash topbutton" id="delete_{{post[1]}}" onclick="delete_post('{{post[1]}}')" name="deleteSomething"></button>

      {% else %}


      <input type="button" class="mini-button1" id="unfollow" onclick="stop_following('{{post[0]}}');" value="Stop following" />      


      {% endif %}



    </div>
    
    <div id="button-group">
      <form action="/post/update" method="post" id="edit_post{{post[1]}}">

          <textarea id="text_{{post[1]}}" name="content" rows="10" form="edit_post{{post[1]}}" placeholder="{{post[2]}}" disabled="disabled" style="background-color:rgb(220, 236, 251); "></textarea>
        <button type="button" onclick="goto_comment('{{post[1]}}')" class="btn btn-primary glyphicon glyphicon-comment topbutton"></button>
       
        <input  name="post_id" type="hidden" value="{{post[1]}}">

        


        {% if post[1] not in session['post_likes'] %}

        <button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign topbutton" id="likes" onclick="like_post('{{post[1]}}');"/></button>

          {% else %}
          
        <button type="button" class="btn btn-primary glyphicon glyphicon-minus-sign topbutton" id="dislikes" onclick="dislike_post('{{post[1]}}');"/></button>
          {% endif %}

           <label class="label-left">{{post[4]}}</label>

       </form>
        
    </div>
  </div>
</div>
<br>
{% endfor %}
</div>
</div>

{% endif %}

{% if followed  %}

<h1>My followed posts:</h1>

<div id="main-container"  style="width: 70%; margin-left: 15%; ">
<div class = "jumbotron" style="border-radius: 5px;">

 {% for f in followed %}

  <div class="wrapper elem" style="border-radius: 5px; border: 2px solid rgb(189, 219, 250); padding-right: 10px; padding-left: 5px">
    <div id="sub">
      <label class="label-right">{{f[6]}}</label>


      {% if f[0] == session['id'] %}
      <button value="edit" class="button2" id="edit_{{f[1]}}" style="display: true;" name="editSomething" onclick=" document.getElementById( 'validate_{{f[1]}}' ).setAttribute('style', ''); hide('{{f[1]}}');"> edit </button>
      <button value="delete" class="button2" id="delete_{{f[1]}}" onclick="delete_post('{{f[1]}}')" name="deleteSomething"> delete </button>
      
      {% else %}

      <!--<input type="button" class="mini-button1" id="unfollow" onclick="stop_following('{{f[0]}}');" value="Stop following" />  -->  
       <button type="button" class="btn btn-primary glyphicon glyphicon-star topbutton" id="likes" onclick="stop_following('{{f[0]}}');"/></button>        

      {% endif %}

    </div>
    
    <div id="button-group">
      <form action="/post/update" method="post" id="edit_post{{f[1]}}">
        <!--<div id="contents">-->
          <textarea id="text_{{f[1]}}" name="content" rows="10" form="edit_post{{f[1]}}" placeholder="{{f[2]}}" disabled="disabled" style="background-color:rgb(220, 236, 251);"></textarea>

         <button type="button" onclick="goto_comment('{{f[1]}}')" class="btn btn-primary glyphicon glyphicon-comment topbutton"></button>
        <input  name="post_id" type="hidden" value="{{f[1]}}">

        <!--<button value="validate" class="btn btn-primary glyphicon glyphicon-comment" id="validate_{{f[1]}}" style="display:none" name="validateSomething" type="submit"> </button>-->

        {% if followed[1] not in session['post_likes'] %}

            <button type="button" class="btn btn-primary glyphicon glyphicon-plus-sign topbutton" id="likes" onclick="like_post('{{f[1]}}');"/></button>
        
          {% else %}
        
         <button type="button" class="btn btn-primary glyphicon glyphicon-minus-sign topbutton" id="dislikes" onclick="dislike_post('{{f[1]}}');"/></button>
          {% endif %}

          <label class="label-left">{{f[4]}}</label>

       </form>
        
    </div>
  </div>

<br>
{% endfor %}
</div>

</div>

{% endif %}


<script type="text/javascript">
  function incrementValue1(id)
  {
      var value = parseInt(document.getElementById('like_'+ id).value, 10);
      value = isNaN(value) ? 0 : value;
      value++;
      document.getElementById('like_'+ id).value = value;
  }
  function incrementValue2(id)
  {
      var value = parseInt(document.getElementById('like_'+ id).value, 10);
      value = isNaN(value) ? 0 : value;
      value--;
      document.getElementById('like_'+ id).value = value;
  }

  function hide(id) {
        document.getElementById('edit_' + id).style.display = 'none'; 

        var text = document.getElementById('text_' + id);
        var hint = text.getAttribute('placeholder')
        text.removeAttribute('disabled'); 
        text.removeAttribute('placeholder')
        text.value = hint;
    } 

  function delete_post(id){
    var location = '/post/delete?post_id=' + id;
    window.location.href = location;
  }

  function goto_comment(id){
      var location = '/blog_comment?post_id=' + id;
      window.location.href = location;
    }

  function like_post(id){
    var location = '/post/like?post_id=' + id;
    window.location.href = location;
  }

  function dislike_post(id){
     var location = '/post/unlike?post_id=' + id;
    window.location.href = location;
  }

  function stop_following(id){
    var location = '/unfollow/blog?user_id=' + id
     window.location.href = location;
  }

   function switch_to_form(id){
    document.getElementById( 'validate_' + id ).setAttribute('style', '');
    //document.getElementById( 'nonform_text_' + id ).setAttribute('style', 'display:none');
    document.getElementById( 'text_' + id ).setAttribute('style', '');
     document.getElementById( 'nonform_text_' + id ).setAttribute('style', 'display:none');
    hide(id);

  }

</script>

</body>
</html>
